---

---

<footer class="bg-darkBlue2 text-white">
    <!-- Footer Section -->
    <div class="container mx-auto pt-12 pb-10 px-5">
        <div class="flex flex-col space-y-24 md:flex-row md:space-y-0 md:justify-between">
            <!-- Contact info -->
            <div class="flex flex-col space-y-6">
                <div class="flex items-center space-x-3">
                    <div class="w-6">
                        <img src="images/icon-phone.svg" alt="phone" class="scale-10">
                    </div>
                    <p>+1-543-123-4567</p>
                </div>
                <div class="flex items-center space-x-3">
                    <div class="w-6">
                        <img src="images/icon-email.svg" alt="email" class="scale-10">
                    </div>
                    <p>example@fylo.com</p>
                </div>
            </div>
            <!-- menu footer -->
            <div class="flex flex-col space-y-4 text-xl md:flex-row md:space-y-0 md:space-x-20 md:text-base">
                <div class="flex flex-col space-y-4">
                    <a href="#">About</a>
                    <a href="#">Jobs</a>
                    <a href="#">Press</a>
                    <a href="#">Blog</a>
                </div>
                <div class="flex flex-col space-y-4">
                    <a href="#">Contact Us</a>
                    <a href="#">Terms</a>
                    <a href="#">Privacy</a>
                </div>
            </div>
            <!-- Social Network -->
            <div class="flex justify-center items-start space-x-3">
                <a href="#"><img src="images/facebook.svg" alt="facebook" class="p-2 bg-darkBlue rounded-full ficon"></a>
                <a href="#"><img src="images/twitter.svg" alt="twitter" class="p-2 bg-darkBlue rounded-full ficon"></a>
                <a href="#"><img src="images/instagram.svg" alt="instagram" class="p-2 bg-darkBlue rounded-full ficon"></a>
            </div>
        </div>
    </div>
</footer>