---

---

<section id="productive">
    <!-- Container -->
    <div class="container mx-auto px-6 my-24">
        <div class="flex flex-col space-y-4 md:flex-row md:space-y-0 md:space-x-16">
            <!-- Image -->
            <div class="flex justify-center items-center md:w-1/2">
                <img src="images/illustration-stay-productive.png" alt="stay-productive">
            </div>
            <!-- Content -->
            <div class="flex flex-col space-y-5 md:w-1/2">
                <h4 class="max-w-md font-bold text-xl md:text-4xl">Stay productive, wherever you are</h4>
                <p class="text-md md:text-lg">
                    Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
                </p>
                <p class="text-md md:text-lg">
                    Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
                </p>
                <!-- Link -->
                <div class="block">
                    <a href="#" class="text-accentCyan underline underline-offset-8 decoration-1">
                        See how Flyo works
                        <img src="images/icon-arrow.svg" alt="arrow" class="inline ml-2">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>